***/.vscode/***
tools/bin/***
tools/go/go.sum
***/__pycache__/***
data5/***
tf/***
tests/***
examples/goload/model.tf
info/***
data*/***
examples/goload/m256/***
examples/goload/go.sum
optimize/results.csv
examples/goload/vocabulary
.idea/*
**/Makefile.options.local
**/wrk/**
